#home {
  display: flex;
  flex-direction: column;
}

#home h2 {
  width: 239px;
  
  /* Design System/H2 */

  font-family: MS UI Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  text-transform: capitalize;

  color: #F5F3F8;
}

img {
  width: 81%;
  align-self: flex-end;
}

.lime-btn {
  font-family: "NicoMoji";
  font-style: normal;
  font-weight: normal;
  
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  background-color: rgba(207, 255, 0, 1);
  padding: 8px;

  /* position: absolute;
  left: 47px;
  top: 40vh; */
}

#content {
  position: absolute;
  margin-left: 40px;
  margin-top: 11vh;
}

#description {
  font-family: MS UI Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.01em;

  color: #F5F3F8;

  margin: 28px;
}