#login-area {
  display: flex;
  flex-direction: column;
}

#boombox {
  width: 100%;
  background: url('../assets/boombox-overlay.png');
}

#log-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.dark-btn {
  width: 135px;
  height: 40px;
  border-radius: 30px;

  background: #0F051F;
  font-family: "NicoMoji";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 11px; */
  /* or 79% */

  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  letter-spacing: -0.04em;

  /* Design System/Color 3 */
  border: 1px solid #CFFF00;;
  color: #CFFF00;

}

#log-content p {
  width: 406px;
  height: 26px;

  font-family: MS UI Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.01em;

  color: #F5F3F8;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}